.footer {
    background-color: #0F0F0F;
    border-radius: 45px 45px 0 0;
    color: var(--white);
    padding: 60px 0 28px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4,max-content);
        justify-content: space-between;
        grid-gap: 40px;
        @media (max-width:$desktop){
             grid-template-columns: repeat(3,max-content); 
        }
        @media (max-width:$smallTablet-max){
             grid-template-columns: repeat(2,max-content); 
        }
        @media (max-width:$mobile-max){
             grid-template-columns: 100%; 
        }
    }

    &__col {
    }

    &__subtitle {
        color: #FF7856;
        font-size: var(--default-font);
        font-weight: 600;
    }

    &__list {
        margin-top: 24px;
    }

    &__item {
        font-size: var(--default-font);
        font-weight: 400;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }

    &__link {
        transition: color $transitionSpeed $transitionFunction;
        @media (min-width:$desktop-min){
             &:hover{
                color: var(--orange);
             } 
        }
    }
    &__bottom{
        margin-top: 66px;
        padding: 24px 0;
        border-top: 1px solid #545454;
       display: flex;
       justify-content: end;
    }
    @media (max-width:$desktop){
         border-radius: 32px 32px 0 0; 
         padding: 50px 0 24px;
    }
}
