.header {
    height: 96px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        @media (max-width:$desktop){
             justify-content: space-between; 
        }
    }

    &__logo {
        min-width: 125px;
        @media (max-width:$desktop){
            max-width: 150px;
        }
    }

    &__nav {
        margin: 0 59px;
    }

    &__btn {
        margin-left: auto;
        @media (max-width:$desktop){
           margin: auto 0 0 0;
           width: 65%;
        }
        @media (max-width:$smallTablet-max){
             width: 100%;
        }
    }

    &__menu {
        @media (min-width:$desktop-min) {
            display: none;
        }
        @media (max-width:$desktop){
             order: 2; 
        }
    }
    @media (max-width:$desktop){
         height: 65px; 
    }
}

.header-nav {

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 28px;
        @media (max-width:$desktop){
             flex-direction: column;
             width: 100%;
             align-items: start; 
        }
    }

    &__item {}

    &__link {
        font-size: var(--default-font);
        font-weight: 500;
        line-height: 1.25;
        white-space: nowrap;
        transition: color $transitionSpeed $transitionFunction;

        @media (min-width:$desktop-min) {
            &:hover {
                color: var(--orange);
            }
        }
        @media (max-width:$desktop){
             font-size: var(--second-font); 
        }
    }

    @media (max-width:$desktop){
        visibility: hidden;
        transform: translateX(100%);
        transition: all $transitionSpeed $transitionFunction;

        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

       padding: 24px 20px;

        position: absolute;
        top: 100%;
       left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        min-height: calc(var(--vh,100vh) - var(--header-height,65px) + 1px);
        margin: 0;
        background-color: var(--white);
        overflow-y: auto;
        border-top: 1px solid transparent
    }

    &._menu-open{
        visibility: visible;
            transform: translateX(0);
            border-top: 1px solid #EBEBEB;
    }
}


.burger-menu {
    --burger-width: 26px;
    --burger-height: 18px;
    --burger-line-height: 2px;
    position: relative;
    z-index: 12;
    border: none;
    padding: 0;
    width: var(--burger-width);
    flex: 0 0 var(--burger-width);
    height: var(--burger-height);
    color: var(--black);
    background-color: transparent;
    cursor: pointer;
    transform: rotate(0);


    &__span {
        display: block;
        position: absolute;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0);
        transition: 435ms ease-in-out;
    }

    &__top {
        top: 0;
    }

    &__middle {
        top: 50%;
            transform: translateY(-50%);
    }

    &__bottom {
        transform: translateY(-100%);
            top: 100%;
    }

    &._menu-open {
        .burger-menu__top {
            top: 9px;
            transform: rotate(135deg) translateY(-50%);
        }

        .burger-menu__middle {
            opacity: 0;
            left: 40px;
        }

        .burger-menu__bottom {
            top: 9px;
            transform: rotate(-135deg) translateY(-50%);
            left: 1px;
        }
    }
}