.modal {
    --transition-time: 0.3s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1051;
    background-color: rgba(34, 41, 102, 0.4);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition-time), visibility var(--transition-time);
    text-align: center;

    &__container {
        position: relative;
        min-height: var(--vh);
        vertical-align: middle;
        background-color: #fff;
        cursor: default;
        text-align: left;
        display: none;

        &.modal-open {
            display: inline-block;
        }
    }

    &__close {
        border: none;
        padding: 0;
        width: 60px;
        height: 60px;
        background-color: transparent;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 25px;
            height: 25px;
            fill: var(--blue);
            transition: fill $transitionSpeed $transitionFunction;

            @media (max-width:$desktop) {
                display: none;
            }
        }

        span {
            color: var(--blue);
            font-size: var(--small-fz);
            line-height: var(--small-lh);
            font-weight: 500;

            @media (min-width:$desktop) {
                display: none;
            }
        }

        @media (min-width:$desktop-min) {
            &:hover {
                svg {
                    fill: var(--primary500);
                }
            }
        }

        @media (max-width:$desktop) {
            right: 16px;
            top: 24px;
            width: auto;
            height: auto;
            position: absolute;
            transform: translate(0);
            margin: 0;
        }
    }

    &.is-open {
        opacity: 1;
        visibility: visible;
        transition: opacity var(--transition-time), visibility var(--transition-time);
    }

    @media (max-width:$desktop) {
        background-color: transparent;
    }
}


.fade {
    opacity: 0;
}

.fade,
.fade.animate-open {
    transition: opacity var(--transition-time);
}

.fade.animate-open {
    opacity: 1;
}

.fadeInUp {
    opacity: 0;
    transform: translateY(-100px);
}

.fadeInUp,
.fadeInUp.animate-open {
    transition: transform var(--transition-time), opacity var(--transition-time);
}

.fadeInUp.animate-open {
    opacity: 1;
    transform: translateY(0);
}