.card-primary {
    background-color: var(--white);
    box-shadow: 0 32px 51px 0 rgba(164, 35, 4, 0.22);
    padding: 20px 20px 42px;
    border-radius: 46px;
    position: relative;
    &__badge{
        position: absolute;
        top: -50px;
        right: 50px;
        @media (max-width:$desktop){
             right: 20px; 
        }
    }
    &__image {
        border-radius: 33px;
        overflow: hidden;
        img{
            width: 100%;
        }
        @media (max-width:$desktop){
             border-radius: 20px; 
        }
    }
    &__content{
        margin: 20px 8px 0;
        @media (max-width:$desktop){
             margin: 16px 4px 0; 
        }
    }
    &__title {
        font-weight: 600;
        font-size: var(--third-font);
        line-height: 1.24;
        color: #050505;
        span{
            color: #3364ea;
        }
    }

    &__text {
        margin-top: 16px;
      p{
        font-size: var(--second-font);
        font-weight: 500;
        line-height: 1.42;
      }
    }
    @media (max-width:$desktop){
         border-radius: 28px; 
         padding: 16px 16px 24px;
    }
}
