.how-works {
    margin-top: -100px;
    padding-top: 134px;
    border-radius: 100px 100px 0 0;
    background-color: var(--white);

    &__title {
        text-align: center;

        span {
            color: var(--gray);
        }
    }

    &__steps {
        max-width: 1191px;
        margin: 90px auto 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 48px;
        grid-row-gap: 93px;
        position: relative;

        @media (max-width:$desktop) {
            margin: 40px auto 0;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:$smallTablet-max) {
            grid-template-columns: 100%;
            grid-row-gap: 50px;
        }
    }

    &__line {
        position: absolute;
        z-index: 1;
        top: 25px;
        left: 109px;

        @media (max-width:$desktop) {
            display: none;
        }
    }

    &__step {
        &:nth-child(2) {
            order: 1;
        }

        &:nth-child(3) {
            order: 2;
        }

        &:nth-child(4) {
            order: 3;
        }

        &:nth-child(5) {
            order: 6;
        }

        &:nth-child(6) {
            order: 5;
        }

        &:nth-child(7) {
            order: 4;
        }
    }

    &__badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 59px;
        padding: 0 24px;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.22;
        color: #F34D24;
        background-color: #F8F8F8;
        border-radius: 138px;

        position: relative;
        z-index: 2;
        @media (max-width:$desktop){
             font-size: 18px;
             height: 45px; 
        }
    }

    &__text {
        margin-top: 24px;

        p {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.35;

            @media (max-width:$desktop) {
                font-size: 18px;
            }
        }
    }

    @media (max-width:$desktop) {
        border-radius: 45px 45px 0 0;
        padding-top: 65px;
    }
}