<footer class="footer @class">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Документы
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Договор аренды
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для собственника
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для арендатора
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Полезное
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Коротко о сервисе
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Калькулятор оценки
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Пригласить друга
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            База знаний
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Инструкции
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Как подготовить квартиру
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Как снять квартиру
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Что сделать перед съёмкой
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Как составить договор аренды
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Информация
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Политика конфиденциальности
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Пользовательское соглашение
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p>
                © ООО «Как дома»
            </p>
        </div>
    </div>
</footer>