<footer class="footer @class">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Документы
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Договор аренды
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для собственника
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для арендатора
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Документы
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Договор аренды
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для собственника
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для арендатора
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Документы
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Договор аренды
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для собственника
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для арендатора
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h3 class="footer__subtitle">
                    Документы
                </h3>
                <ul class="footer__list list-reset">
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Договор аренды
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для собственника
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class='footer__link'>
                            Условия для арендатора
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p>
                © ООО «Как дома»
            </p>
        </div>
    </div>
</footer>