<header class="header">
    <div class="container header__wrapper">
        <div class="header__logo">
            <img loading="lazy" src="./img/logo.svg" width='173' height='42' alt="Как дома">
        </div>
        <nav class="header__nav header-nav">
            <ul class="header-nav__list list-reset">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        Сдать квартиру
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        Снять квартиру
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        О страховке
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        Дизайн-решения
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        Застройщикам
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        Контакты
                    </a>
                </li>
            </ul>
        </nav>
        <button class="header__btn btn btn-reset btn-small" disabled>
            <span class="btn-small__text">
                Личный кабинет
            </span>
        </button>
    </div>
</header>