html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
    font-size: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.page {
    height: 100%;
    font-family: var(--font-family), sans-serif;
}

.page__body {
    min-width: var(--min-width);
    min-height: 100%;
    font-size: var(--default-fz);
    background-color: var(--page-bg);
    color: var(--text-color);
}

.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex-grow: 1;
}
.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
}
