<section class='advantages'>
    <div class="container advantages__container">
        <h2 class='advantages__title title-2'>
            Преимущества <span>для застройщиков</span>
        </h2>
        <div class="advantages__text">
            <p>
                Возьмём на себя всё что необходимо покупателю новой квартиры для того, чтобы как можно скорее начать зарабатывать на ней
            </p>
        </div>
        <div class="advantages__card advantages-card-four">
            <div class='advantages-card-four__image'>
                <svg width="279" height="384" viewBox="0 0 279 384" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M148.696 2.18602C146.317 34.4191 152.998 92.0797 166.743 120.869C183.47 155.906 207.466 189.745 239.381 212.507C249.355 219.622 276.732 235.298 277.212 209.595C277.635 186.977 264.161 160.993 251.817 143.256C229.559 111.275 198.625 83.2846 165.521 62.8691C143.245 49.1309 108.236 30.7556 81.2627 44.0616C46.3922 61.2637 61.9304 114.803 70.0991 141.148C89.6797 204.3 122.084 268.328 162.513 320.739C180.022 343.437 209.589 375.587 240.223 381.619C264.887 386.476 257.105 355.515 252.886 345.091C233.97 298.349 197.454 254.329 161.252 220.226C128.292 189.177 48.8926 149.992 2.11076 145.885" stroke="black" stroke-width="3" stroke-linecap="round" />
                </svg>
                <img src="./img/advantages-image.png" width='1017' height='330' alt="">
            </div>
            <h3 class="advantages-card-four__title advantages__subtitle title-3">
                Наш ИИ проанализирует рынок и покажет потенциальные ROI проекта
            </h3>
        </div>

        <div class="advantages__card advantages-card-primary">
            <h3 class='advantages-card-primary__title advantages__subtitle title-3'>Наши дизайнеры подготовят 3 дизайн-проекта на выбор</h3>
            <picture>
                <source srcset="./img/advantages-image-2.webp" type="image/webp">
                <img loading="lazy" src="./img/advantages-image-2.jpg" width="422" height="330" alt="">
            </picture>
        </div>
        <div class="advantages__card advantages-card-second">
            <picture>
                <source srcset="./img/advantages-image-3.webp" type="image/webp">
                <img loading="lazy" src="./img/advantages-image-3.jpg" width="267" height="330" alt="">
            </picture>
            <h3 class='advantages-card-second__title advantages__subtitle title-3'>Наши подрядчики сделают качественный ремонт по выбранному дизайн-проекту строго исходя из желаемого бюджета</h3>
        </div>
        <div class="advantages__card advantages-card-third">
            <picture>
                <source srcset="./img/advantages-image-4.webp" type="image/webp">
                <img loading="lazy" src="./img/advantages-image-4.jpg" width="1017" height="330" alt="">
            </picture>
            <h3 class='advantages-card-third__title advantages__subtitle title-3'>Наши специалисты подключат квартиру к системе «Как Дома» и сразу возьмут под контроль все необходимые для сдачи в аренду процессы</h3>
        </div>

    </div>
</section>