<section class='comparison'>
    <svg class='comparison__svg' width="284" height="280" viewBox="0 0 284 280" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M108.078 1.44224C117.813 27.1385 122.471 70.744 112.659 90.2686C100.716 114.029 80.0389 135.286 47.7359 146.179C37.6397 149.583 9.09903 155.92 2.98876 135.735C-2.388 117.973 7.7155 100.582 18.2812 89.3902C37.3318 69.2103 67.3635 54.0213 101.56 45.2189C124.572 39.2956 161.431 32.4985 195.759 48.7179C240.139 69.6863 233.578 108.159 229.74 126.978C220.541 172.089 196.576 215.115 160.745 247.332C145.228 261.285 117.689 280.019 83.2674 278.117C55.5532 276.586 57.9432 254.078 60.6122 246.845C72.5798 214.411 105.66 187.905 140.514 169.078C172.247 151.937 256.38 138.467 310.049 145.359" stroke="black" stroke-width="2.74131" stroke-linecap="round" />
      </svg>
    <div class="container-second">
        <h2 class='comparison__title title-2'>
            Сравните <span>сами</span>
        </h2>
        <div class="comparison__text">
            <p>
                Ни один агент не предоставит такой сервис и поддержку, как мы
            </p>
        </div>
        <div class="comparison__wrapper">
            <div class="comparison__card">
                <span>Бесконтактное заселение</span>
                <span>нет</span>
                <span>да</span>
            </div>
            <div class="comparison__card">
                <span>Круглосуточный контакт-центр</span>
                <span>нет</span>
                <span>да</span>
            </div>
            <div class="comparison__card">
                <span>Страхование квартиры</span>
                <span>нет</span>
                <span>да</span>
            </div>
            <div class="comparison__card">
                <span>Проверка арендатора</span>
                <span>нет</span>
                <span>да</span>
            </div>
            <div class="comparison__card">
                <span>Подготовка квартиры к сдаче</span>
                <span>нет</span>
                <span>да</span>
            </div>
            <div class="comparison__card">
                <span>Отельный сервис</span>
                <span>нет</span>
                <span>да</span>
            </div>
            <div class="comparison__card">
                <span>Личный кабинет инвестора</span>
                <span>нет</span>
                <span>да</span>
            </div>
        </div>
        
    </div>
</section>