<section class='difference'>
    <div class="container">
        <div class="difference__wrapper">
            <div class="difference__cards">
                <article class='difference__card card-primary'>
                    <div class="card-primary__image">
                        <picture>
                            <source srcset="./img/card-image-1.webp" type="image/webp">
                            <img loading="lazy" src="./img/card-image-1.jpg" width="376" height="214" alt="Круглосуточный сервис">
                        </picture>
                    </div>
                    <div class="card-primary__content">
                        <h3 class="card-primary__title">
                            <span>Круглосуточный</span> сервис
                        </h3>
                        <div class="card-primary__text">
                            <p>
                                Мы всегда рядом, по любым вопросам. Техническое обслуживание тоже за нами
                            </p>
                        </div>
                    </div>
                </article>
                <article class='difference__card card-primary'>
                    <img src="./img/card.png" class='card-primary__badge' width='142' height='95' alt="">
                    <div class="card-primary__image">
                        <picture>
                            <source srcset="./img/card-image-2.webp" type="image/webp">
                            <img loading="lazy" src="./img/card-image-2.jpg" width="376" height="214" alt="Личный кабинет инвестора">
                        </picture>
                    </div>
                    <div class="card-primary__content">
                        <h3 class="card-primary__title">
                            <span>Личный кабинет</span> инвестора
                        </h3>
                        <div class="card-primary__text">
                            <p>
                                Тарифы, прибыль за текущий месяц, прогноз по прибыли на год, загруженность ваших апартаментов, информация о проживающих
                            </p>
                        </div>
                    </div>
                </article>
                <article class='difference__card card-primary'>
                    <div class="card-primary__image">
                        <picture>
                            <source srcset="./img/card-image-3.webp" type="image/webp">
                            <img loading="lazy" src="./img/card-image-3.jpg" width="376" height="214" alt="Бесконтактный доступ в апартаменты 24/7">
                        </picture>
                    </div>
                    <div class="card-primary__content">
                        <h3 class="card-primary__title">
                            <span>Бесконтактный</span> доступ в апартаменты 24/7
                        </h3>
                        <div class="card-primary__text">
                            <p>
                                Никакого ожидания при заселении
                            </p>
                        </div>
                    </div>
                </article>
            </div>
            <h2 class="difference__title title-2">
                — то, что отличает нас <span>от других</span>
            </h2>
        </div>
    </div>
</section>