<section class="faq">
    <div class="container-second md2:px-0">
        <div class="faq__wrapper">
            <div class="faq__content">
                <h2 class="faq__title">
                    FAQ
                </h2>
                <div data-spollers data-spollers-mode="one" class="spollers">
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Сколько это стоит?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Для вас, как собственника, сервис абсолютно бесплатен. Арендатор&nbsp;же оплачивает сумму, указанную в&nbsp;объявлении, которая уже включает в&nbsp;себя комиссию. Например, вы&nbsp;хотите сдавать свою однокомнатную квартиру за&nbsp;30&nbsp;000&nbsp;рублей. В&nbsp;этом случае арендатор платит 33&nbsp;000&nbsp;рублей, включающих&nbsp;5% комиссии (это фиксированный процент, указанный в&nbsp;договоре) и&nbsp;оплату финансовой защиты. Вы&nbsp;получаете свои 30&nbsp;000&nbsp;рублей, а&nbsp;оставшиеся 3&nbsp;000 рублей идут сервису
                            </p>
                            <p>
                                При посуточном управлении вашей недвижимости сервис &laquo;Как Дома&raquo; взимает комиссию 10&ndash;15% от&nbsp;цены брони
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Какие квартиры подходят для сервиса?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Практически любая квартира может быть сдана через наш сервис. Главное условие: в&nbsp;ней не&nbsp;должно быть ваших личных вещей. Помните, что арендаторы хотят чувствовать себя как дома, а&nbsp;ваши вещи будут напоминать&nbsp;им, что квартира съёмная. Также в&nbsp;квартире должен быть минимальный набор мебели и&nbsp;техники, кухонный гарнитур. Желательно наличие стабильного интернета. Мы&nbsp;подскажем, что стоит убрать или добавить, чтобы выделить вашу квартиру среди других и&nbsp;показать все её&nbsp;преимущества.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Кто платит налоги за&nbsp;сдачу квартиры в&nbsp;аренду?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Сервис не&nbsp;занимается подачей налоговой отчётности и&nbsp;оплатой налогов. Это ваша ответственность как собственника жилья.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Зачем нужна финансовая защита?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Она послужит вам &laquo;подушкой безопасности&raquo; в&nbsp;случае непредвиденных ситуаций с&nbsp;квартирой. Например, если арендаторы внезапно съедут, сломают мебель или зальют соседей, мы&nbsp;компенсируем вам расходы на&nbsp;ремонт в&nbsp;пределах установленных лимитов.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Можно&nbsp;же сдать квартиру самостоятельно?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Сдавать квартиру самостоятельно&nbsp;&mdash; это долго и&nbsp;хлопотно. С&nbsp;сервисом &laquo;Как дома&raquo; вы&nbsp;получите массу преимуществ:
                            </p>
                            <p>
                                &mdash;&nbsp;cдача квартиры произойдёт быстрее, так как арендаторы не&nbsp;платят комиссию риелтору и&nbsp;депозит
                               <br> &mdash;&nbsp;вы&nbsp;сэкономите время, потому что мы&nbsp;самостоятельно подберём подходящих арендаторов. Вам останется только выбрать наиболее подходящего кандидата
                                <br> &mdash;&nbsp;вы&nbsp;будете защищены от&nbsp;финансовых потерь, ведь мы&nbsp;выплатим компенсацию за&nbsp;любой ущерб, нанесённый арендаторами
                                <br> &mdash;&nbsp;мы&nbsp;решим все бытовые вопросы, не&nbsp;отвлекая вас от&nbsp;личных дел
                            </p>
                            <p>
                                И&nbsp;все это&nbsp;&mdash; абсолютно бесплатно для вас.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Можно&nbsp;ли не&nbsp;отдавать ключи от&nbsp;квартиры?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Вы&nbsp;можете оставить ключи у&nbsp;себя. В&nbsp;этом случае мы&nbsp;будем согласовывать с&nbsp;вами каждый показ, что может занять больше времени. Вам, скорее всего, придётся лично присутствовать на&nbsp;просмотрах. Помните, что мы&nbsp;покажем квартиру только потенциальным арендаторам и&nbsp;без вашего согласия никто в&nbsp;неё не&nbsp;заселится.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Какие документы нужно будет подписать?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Два документа даём на&nbsp;подпись: соглашение о&nbsp;сотрудничестве с&nbsp;сервисом (онлайн в&nbsp;личном кабинете) и&nbsp;договор аренды с&nbsp;выбранным арендатором. Мы&nbsp;подготовим договор, вам останется только подписать его. Все документы доступны на&nbsp;сайте, можете ознакомиться с&nbsp;ними заранее.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Сколько занимает поиск арендаторов?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Мы&nbsp;знаем, как быстро найти арендаторов. В&nbsp;среднем они заселяются в&nbsp;квартиру через 10&nbsp;дней после заключения договора. Но&nbsp;у&nbsp;нас были случаи, когда арендаторы находились лишь через 2&nbsp;часа! Мы&nbsp;успешно продвигаем объявления и&nbsp;привлекаем арендаторов. Наш менеджер оценит вашу квартиру и&nbsp;подскажет как ускорить поиск.
                            </p>
                        </div>
                    </div>
                    <div class="spollers__item" data-spollers-item>
                        <button type="button" data-spollers-btn class="btn btn-reset spollers__title">
                            <span>Можно&nbsp;ли сдать квартиру по&nbsp;доверенности?</span>
                            <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 0.5L6.5 5.5L1 0.5" stroke="#FAFAFA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div class="spollers__body" data-spollers-body hidden>
                            <p>
                                Сдавать квартиру по&nbsp;доверенности, конечно, можно, но&nbsp;только при наличии нотариально заверенной доверенности. Оставьте заявку на&nbsp;сайте, и&nbsp;мы&nbsp;вам подробно расскажем, как это сделать.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>