<section class='hero'>
    <div class="container hero__wrapper">
        <img src="./img/hero-image.png" class='hero__image hero__image--1' width='351' height='356' alt="">
        <div class="hero__info">
            <h1 class='hero__title title-1'>
                Владельцы квартир
                <span>зарабатывают</span> с нами
            </h1>
            <div class="hero__text">
                <p>
                    Сервис аренды квартир «Как Дома» помогает обустроить, подготовить и сдать вашу квартиру в аренду как на краткосрочный, так и на долгосрочный период
                </p>
            </div>
            <button class='hero__btn btn btn-reset btn-primary'>
                <span class='btn-primary__text'>
                    Оставить заявку
                </span>
            </button>
        </div>
        <img src="./img/hero-image2.png" class='hero__image hero__image--2' width='310' height='399' alt="">
    </div>
</section>