<section class='how-works'>
    <div class="container">
        <h2 class='how-works__title title-2'>
            Как это <span>работает</span>
        </h2>
        <div class="how-works__steps">
            <img loading="lazy" src="./img/how-works-line.svg" class="how-works__line" alt="">
            <div class="how-works__step">
                <span class="how-works__badge">
                    Шаг 1
                </span>
                <div class="how-works__text max-w-[291px]">
                    <p>
                        Оставляете заявку на нашем сайте — связываемся с вами и обсуждаем детали
                    </p>
                </div>
            </div>
            <div class="how-works__step">
                <span class="how-works__badge">
                    Шаг 2
                </span>
                <div class="how-works__text">
                    <p>
                        Проводим оценку квартиры на месте: рекомендуем, как дёшево и быстро улучшить внешний вид
                    </p>
                </div>
            </div>
            <div class="how-works__step">
                <span class="how-works__badge">
                    Шаг 3
                </span>
                <div class="how-works__text">
                    <p>
                        Обсуждаем наиболее выгодные для вас условия и подписываем договор
                    </p>
                </div>
            </div>
            <div class="how-works__step">
                <span class="how-works__badge">
                    Всё это время вы...
                </span>
                <div class="how-works__text">
                    <p>
                        Наслаждаетесь отсутствием
                        забот и занимаетесь любимыми делами!
                    </p>
                </div>
            </div>
            <div class="how-works__step">
                <span class="how-works__badge">
                    Шаг 5
                </span>
                <div class="how-works__text">
                    <p>
                        Проверяем и подбираем арендатора по утверждённым параметрам
                    </p>
                </div>
            </div>
            <div class="how-works__step">
                <span class="how-works__badge">
                    Шаг 4
                </span>
                <div class="how-works__text">
                    <p>
                        Размещаем ваш лот на всех топовых площадка аренды и получим самые выгодные условия
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>