<section class='qr'>
    <div class="container qr__container">
        <img loading="lazy" src="./img/keys.png" width='418' height='150' class="" alt="">
        <h2 class="qr__title">
            «Как дома» в вашем смартфоне
        </h2>
        <div class="qr__text">
            <p>
                Скачайте приложение, чтобы всё самое нужное всегда
                <span class='mmd1:block'>было под рукой</span>
            </p>
        </div>
        <div class="qr__block">
            <img loading="lazy" src="./img/qr.svg" width='190' height='190' class="" alt="">
        </div>
    </div>
</section>