<section class='tenant-banner' style='background-image: url("../img/bg.jpg");'>
    <div class="container">
        <div class="tenant-banner__wrapper">
            <h2 class='tenant-banner__title title-2'>
                Нужны порядочные
                арендаторы?
                <span>Доверьте</span> их поиск нам
            </h2>
            <button class="tenant-banner__btn btn btn-reset btn-primary">
                <span class="btn-primary__text">
                    Оставить заявку
                </span>
            </button>
        </div>
    </div>
</section>