.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn {
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction,
        box-shadow $transitionSpeed $transitionFunction;
}

.btn-primary {
    height: 76px;
    padding: 0 60px;

    color: var(--white);
    background-color: var(--black);

    border-radius: 32px;

    font-size: var(--second-font);


    @media (min-width:$desktop-min) {
        &:hover {
            color: var(--white);
            background-color: var(--orange);
        }
    }

    &:active {
        color: var(--white);
        background-color: var(--orange);
    }

    &.focus-visible {
        color: var(--white);
        background-color: var(--orange);
    }

    @media (max-width:$desktop) {
        height: 70px;
        border-radius: 24px;
    }
}

.btn-small {
    border-radius: 20px;
    height: 48px;
    padding: 0 26px;
    background-color: var(--black);
    color: var(--white);

    font-size: var(--default-font);
    white-space: nowrap;
    &:disabled{
        background-color: #f1f0f0;
        color: var(--gray);
        pointer-events: none;
    }
}